@charset "utf-8";
/* CSS Document */
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,big,cite,code,del,em,font,img,ins,small,strong,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{margin:0;padding:0}
ol,ul{list-style:none}:focus{outline:0}
a img{border:0}
a{ text-decoration:none}
img{vertical-align:middle}
table{empty-cells:show}
ins{text-decoration:none}
del{text-decoration:line-through}
em{font-style:normal}
button::-moz-focus-inner,input[type=reset]::-moz-focus-inner,input[type=button]::-moz-focus-inner,input[type=submit]::-moz-focus-inner,input[type=file]>input[type=button]::-moz-focus-inner{border:0;padding:0}
body{font:12px/150% Arial,Verdana,"\5b8b\4f53";color:#666;background:#fff;_background-image:url(about:blank);_background-attachment:fixed}
.fl{float:left}
.fr{float:right}
.clearfix:after{clear: both;content: "";display: block;height: 0;line-height: 0;visibility: hidden;}
.button{color: #fff;padding: 0 10px;border-color: #ED6002;background-color: #FE8502;
    display: inline-block;
    height: 24px;
    line-height: 23px;
    font-size: 12px;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    vertical-align: top;
    cursor: pointer;
    text-decoration: none;
}
.button:hover{
    cursor: pointer;
    text-decoration: underline;
}
a.button{color: #fff;}
a.button:hover{color: #fff;}
.w{width: 1200px;margin: 0 auto;}
.alink_v2013 a{color: #666;text-decoration:none;}
.alink_v2013 a:hover{color:red;text-decoration:underline;cursor: pointer;}

